.deleteAccount{
	text-align:left;
	border-top:1px solid #444;
	>div{
		font-family: Avenir;
	  	font-size: 16px;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: 1.56;
	  	letter-spacing: normal;
	  	text-align: left;
	  	color: #a5a5a5;
	  	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	  	text-align:center;
	  	.neutralPB{
	  		font-size:20px;
	    	color:#fff !important;
	    }
	}
	.deleteAccount_content{
		margin-top:100px;
	}
}
@media screen and (max-width: 992px){
	.deleteAccount{
		text-align:center;
		border-top:0;
		.deleteAccount_content{
			margin-top: 50px;
		    width: 60%;
		    display: inline-block;
		}
	}
}