.listSchemma_container_fixed{
    position: fixed;
    width: 100%;
    height: 100%;
    background:#fff;
    top: 93px;
    color: #444 !important;
    .show{
    	display:inline-block;
    }
    .hideSchemma{
    	position: absolute;
	    cursor: pointer;
	    padding: 10px;
	    background: #444;
	    color: #fff;
	    right: 10px;
	    top: 10px;
	    z-index: 2000;
	    border-radius: 20px;
	    width: 40px;
	    height: 40px;
	    text-align: center;
	}
	.hideSchemma:hover{
    	opacity:.5;
	}
	.rot{
		font-size:25px;
		text-align: center;
	}
	.listPBs{
		width: 100%;
	    position: absolute;
	    bottom: 190px;
		.row{
			margin:0;
		}[class*=col]{
			float: right;
		}
	}
	.listMsgOuter{
		position:fixed;
		top:0;
		left:0;
		display:table;
		width:100%;
		height:100%;
		background:rgba(0,0,0,.8);
		.listMsgInner{
			display:table-cell;
			width:100%;
			height:100%;
			vertical-align:middle;
			text-align:center;
			.listMsg{
			    display: inline-block;
			    background: #fff;
			    width: 50vh;
			    height: 50vh;
			    position:relative;
			    .addFolderAction, .removeFolderAction, .renameFolderAction, .removeFromFolderAction, .moveToFolderAction, .moveChildAction, .moveToFolderAction, .moveFolderAction{
			    	position: relative;
				    width: 100%;
				    height: 100%;
			    }
			    input{
			    	border: 1px solid #444;
			    }
			    .modalPBs{
			    	position:absolute;
			    	bottom:0;
			    	margin:0;
			    	padding:10px;
			    	width:100%;
			    }
			}
		}
	}.hide{
		display:none !important;
	}
	.listPB{
		cursor:pointer;
		margin:10px;
		padding:10px;
		border:1px solid #444;
		text-align:center;
	}
	.listPB:hover{
		opacity:.5;
	}
}
