$template-light-bg: #fff;
$template-light-color: #444;

$template-dark-bg: #000;

$template-dark-color-0: #fff;
$template-dark-color-1: #aaa;
$template-dark-color-2: #666666;

$template-light-bg: #fff;
$template-light-color-0: #000;
$template-light-color-1: #444;
$template-light-color-2: #ddd;

$template-dark-color-border-purple: purple;

$template-size-0: 16px;
$template-size-1: 12px;
$template-size-2: 10px;

.header_web_dark{
    background: $template-dark-bg;
	font-size: $template-size-1;
	color: $template-dark-color-0;
}

.header_web_light{
    background: $template-light-bg;
	font-size: $template-size-1;
	color: $template-light-color-1;
}
.header_web{
	#contadorxxx{
		display:none;
		position: absolute;
	    top: 110px;	
	}
	position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 75px;
    .menu_responsive_pb{
		display:none !important;
	}
	.menu_responsive{
		display:none !important;
	}
	.header_web_main{
	 	max-width: 990px;
	    width: 990px;
	    display: inline-block;
	    background: #000;
	    padding-top: 20px;
	    height: 75px;
	}
	.avatar{
		width:auto;
		padding-top: 8px;
		padding-left:20px;
	}
}
@media screen and (max-width: 990px){
   .header_web{
        .header_web_main{
            width: 100%;
            padding-left:10px;
            padding-right:10px;
        }
    }
}
@media screen and (max-width: 992px){
	.header_web{
		.menu_responsive_pb{
			display: inline-block!important;
		    padding: 0!important;
		    margin-left: 10px;
		    margin-top: -5px;
		    font-size: 30px;
		}
		.menu_responsive{
			display: inline-block!important;
		    position: fixed;
		    width: 100%;
		    top:0;
        	left: -100%;
		    background: #000;
		    color: #fff !important;
		    -webkit-transition: left .5s ease;
		    -moz-transition: left .5s ease;
		    transition: left .5s ease;
		    overflow-y: scroll;
	        height: 100vh;
	        -ms-overflow-style: none;  // IE 10+
	        overflow: -moz-scrollbars-none;  // Firefox
			.menu_responsive_option{
				cursor: pointer;
			    color: #fff!important;
			    border-bottom: 1px solid #414141 !important;
			    font-size: 14px;
			    font-weight: 900;
			    font-style: normal;
			    font-stretch: normal;
			    line-height: normal;
			    letter-spacing: 1px;
			    margin-left: 10px;
			    margin-right: 10px;
			    padding-top: 30px;
			    padding-bottom: 30px;
			}
			.menu_responsive_option a >div{
		    	color: #fff !important;
		    }
		    .menu_responsive_option:last-child{
		    	border:0;
		    }
			.menu_responsive_option:hover{
				opacity:.5;
			}
		}
		.menu_responsive::-webkit-scrollbar{
	        display:none;
	    }
		.menu_responsive_show{
			left: 0;
			
		}
		.avatar {
		    padding-left: 0;
		}
	}
   .header_web .header_web_main .logo{
	    display:none;
	}
	.header_web_explore,.header_web_premium,.header_web_register{
		display:none !important;
	}
	.header_web .header_web_main .logoResponsive{
		display:inline-block !important;
	    position: absolute;
	    width: auto;
	    left: 50%;
	    padding-top:8px;
	}

}


.header_web .header_web_main > div{
	cursor: pointer;
    display: inline-block;
    padding-top: 10px;
}
.header_web .header_web_main > div > a{
	color: #fff !important;
}
.header_web .header_web_main > div.option:hover{
	opacity:.5;
}
.header_web .header_web_main > a > div{
	cursor:pointer;
	display:inline-block;
	padding-top: 3px;

}
.header_web .header_web_main > a > div.option:hover{
	opacity:.5;
}
.header_web_dark .header_web_main  > a > div.option{
	color: $template-dark-color-0;
}
.header_web_light .header_web_main  > a > div.option{
	color: $template-light-color-1;
}
.header_web .header_web_main .left{
	float:left;
}
.header_web .header_web_main .right{
	float:right;
}
.header_web .header_web_main .logo{
    position: absolute;
    width: auto;
    left: 50%;
}
.header_web .header_web_main .logoResponsive{
	display:none;
}
